Load necessary packages

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.2.1 ──

✔ ggplot2 3.2.0     ✔ purrr   0.3.2
✔ tibble  2.1.3     ✔ dplyr   0.8.3
✔ tidyr   0.8.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.4.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Load the data

In [2]:
getwd()
setwd('../..')
getwd()

[1] "/Users/phd_projects/Documents/wonderwoman/notebooks/name"

[1] "/Users/phd_projects/Documents/wonderwoman"

In [3]:
list.dirs()

 [1] "."                                   "./.git"
 [3] "./.git/branches"                     "./.git/hooks"
 [5] "./.git/info"                         "./.git/logs"
 [7] "./.git/logs/refs"                    "./.git/logs/refs/heads"
 [9] "./.git/logs/refs/remotes"            "./.git/logs/refs/remotes/origin"
[11] "./.git/objects"                      "./.git/objects/02"
[13] "./.git/objects/19"                   "./.git/objects/24"
[15] "./.git/objects/59"                   "./.git/objects/5e"
[17] "./.git/objects/86"                   "./.git/objects/9b"
[19] "./.git/objects/9d"                   "./.git/objects/c2"
[21] "./.git/objects/cd"                   "./.git/objects/e5"
[23] "./.git/objects/f3"                   "./.git/objects/fa"
[25] "./.git/objects/info"                 "./.git/objects/pack"
[27] "./.git/refs"                         "./.git/refs/heads"
[29] "./.git/refs/remotes"                 "./.git/refs/remotes/origin"
[31] "./.git/refs/tags"                    "./data"
[33] "./data/processed"                    "./data/raw"
[35] "./misc"                              "./notebooks"
[37] "./notebooks/exploratory_scripts"     "./notebooks/model"
[39] "./notebooks/name"                    "./notebooks/name/.ipynb_checkpoints"
[41] "./reports"                           "./reports/figures"
[43] "./results"                           "./results/models"
[45] "./results/outputs"                   "./scores"
[47] "./src"                               "./src/munge"
[49] "./src/utils"

In [ ]:
list.files('./data/pro')

In [6]:
df_joined_months = read_csv('./data/processed/aggregated_monthly.csv')

Warning message:
“Missing column names filled in: 'X1' [1]”
Parsed with column specification:
cols(
  .default = col_double(),
  q_cucumbers_price = col_logical(),
  q_onions_price = col_logical(),
  region = col_character(),
  q_gov = col_character(),
  q_district = col_character(),
  q_sbd = col_character(),
  q_town = col_character(),
  Month = col_character()
)

See spec(...) for full column specifications.

Warning message:
“11254 parsing failures.
 row               col           expected actual                                      file
1631 q_cucumbers_price 1/0/T/F/TRUE/FALSE  350.0 './data/processed/aggregated_monthly.csv'
1631 q_onions_price    1/0/T/F/TRUE/FALSE  100.0 './data/processed/aggregated_monthly.csv'
1638 q_cucumbers_price 1/0/T/F/TRUE/FALSE  200.0 './data/processed/aggregated_monthly.csv'
1638 q_onions_price    1/0/T/F/TRUE/FALSE  100.0 './data/processed/aggregated_monthly.csv'
1645 q_cucumbers_price 1/0/T/F/TRUE/FALSE  275.0 './data/processed/aggregated_monthly.csv'
.... ................. .................. ...... .........................................
See problems(...) for more details.
”

In [27]:
df_long = read_csv('data/processed/monthly_item_price_long.csv')

Parsed with column specification:
cols(
  region = col_character(),
  q_gov = col_character(),
  q_district = col_character(),
  q_sbd = col_character(),
  q_town = col_character(),
  Month = col_character(),
  item = col_character(),
  price = col_double()
)

In [10]:
dim(df_long)

[1] 1472480       7

In [14]:
names(df_joined_months)

 [1] "X1"                        "q_bread_price_per_8pieces"
 [3] "q_bulgur_price_per_kilo"   "q_chicken_price_per_kilo"
 [5] "q_eggs_price_per_30eggs"   "q_potatoes_price_per_kilo"
 [7] "q_tomatoes_price_per_kilo" "q_cucumbers_price"
 [9] "q_onions_price"            "q_ghee_price_per_kilo"
[11] "q_oil_price_per_litre"     "q_rlentils_price_per_kilo"
[13] "q_rice_price_per_kilo"     "q_salt_price_per_500g"
[15] "q_sugar_price_per_kilo"    "q_tomatop_price"
[17] "q_isoap_price_per_piece"   "q_lsoap_price_per_kilo"
[19] "q_dsoap_price_per_litre"   "q_spads_price_per_10pads"
[21] "q_toothp_price_per_100g"   "q_sgas_price"
[23] "q_mrkaz_price"             "q_water_price_per_litre"
[25] "q_data_price_per_gb"       "region"
[27] "q_gov"                     "q_district"
[29] "q_sbd"                     "q_town"
[31] "q_xrate_usdsyp_buy"        "q_xrate_usdsyp_sell"
[33] "q_xrate_trysyp_buy"        "q_xrate_trysyp_sell"
[35] "q_xrate_jodsyp_buy"        "q_xrate_jodsyp_sell"
[37] "Month"

Define the columns, denoting the regions

In [11]:
regional_columns = c("region", "q_gov", "q_district", "q_sbd", "q_town")

Find towns, that belong to several regions within one month

In [28]:
towns_distinct_weird = df_joined_months %>%
  select(one_of(c('q_town', 'Month'))) %>%
  #worth checking with and without distinct
  distinct() %>%
  group_by(q_town, Month) %>%
  summarize(n = n()) %>%
  arrange(desc(n), q_town)

In [20]:
towns_distinct_weird

     q_town region    q_gov q_district q_sbd    Month    n
1    C1022  northwest SY02  SY0200     SY020001 April 18 1
2    C1022  northwest SY02  SY0200     SY020001 April 19 1
3    C1022  northwest SY02  SY0200     SY020001 Aug 19   1
4    C1022  northwest SY02  SY0200     SY020001 Aug18    1
5    C1022  northwest SY02  SY0200     SY020001 Dec 17   1
6    C1022  northwest SY02  SY0200     SY020001 Dec 18   1
7    C1022  northwest SY02  SY0200     SY020001 Feb 18   1
8    C1022  northwest SY02  SY0200     SY020001 Feb 19   1
9    C1022  northwest SY02  SY0200     SY020001 Jan 19   1
10   C1022  northwest SY02  SY0200     SY020001 July 18  1
11   C1022  northwest SY02  SY0200     SY020001 July 19  1
12   C1022  northwest SY02  SY0200     SY020001 June 18  1
13   C1022  northwest SY02  SY0200     SY020001 June 19  1
14   C1022  northwest SY02  SY0200     SY020001 March 18 1
15   C1022  northwest SY02  SY0200     SY020001 March 19 1
16   C1022  northwest SY02  SY0200     SY020001 May 18   1
17   C1022  northwest SY02  SY0200     SY020001 May 19   1
18   C1022  northwest SY02  SY0200     SY020001 Nov 17   1
19   C1022  northwest SY02  SY0200     SY020001 Nov 18   1
20   C1022  northwest SY02  SY0200     SY020001 Oct 18   1
21   C1022  northwest SY02  SY0200     SY020001 Sep 18   1
22   C1023  northwest SY02  SY0200     SY020001 April 18 1
23   C1023  northwest SY02  SY0200     SY020001 April 19 1
24   C1023  northwest SY02  SY0200     SY020001 Aug18    1
25   C1023  northwest SY02  SY0200     SY020001 Dec 17   1
26   C1023  northwest SY02  SY0200     SY020001 Dec 18   1
27   C1023  northwest SY02  SY0200     SY020001 Feb 18   1
28   C1023  northwest SY02  SY0200     SY020001 Feb 19   1
29   C1023  northwest SY02  SY0200     SY020001 Jan 18   1
30   C1023  northwest SY02  SY0200     SY020001 Jan 19   1
⋮    ⋮      ⋮         ⋮     ⋮          ⋮        ⋮        ⋮
1981 N0477  northeast SY11  SY1101     SY110100 Oct 18   1
1982 N0478  northeast SY11  SY1101     SY110100 June 18  1
1983 N0478  northeast SY11  SY1101     SY110100 May 18   1
1984 N0478  northeast SY11  SY1101     SY110100 Oct 18   1
1985 N0479  northeast SY11  SY1101     SY110100 Oct 18   1
1986 N0481  northeast SY11  SY1101     SY110100 Oct 18   1
1987 other  northeast SY02  SY0206     SY020600 Jan 18   1
1988 other  northwest SY05  SY0502     SY050202 Nov 17   1
1989 NA     northeast SY08  SY0802     SY080201 Feb 19   1
1990 NA     northeast SY09  SY0901     SY090100 April 19 1
1991 NA     northeast SY09  SY0901     SY090100 June 19  1
1992 NA     northeast SY09  SY0901     SY090100 March 19 1
1993 NA     northeast SY09  SY0901     SY090100 May 19   1
1994 NA     northeast SY09  SY0901     SY090101 April 19 1
1995 NA     northeast SY09  SY0901     SY090101 Dec 18   1
1996 NA     northeast SY09  SY0901     SY090101 Feb 19   1
1997 NA     northeast SY09  SY0901     SY090101 July 19  1
1998 NA     northeast SY09  SY0901     SY090101 June 19  1
1999 NA     northeast SY09  SY0901     SY090101 March 19 1
2000 NA     northeast SY09  SY0901     SY090101 May 19   1
2001 NA     northeast SY09  SY0901     SY090106 April 19 1
2002 NA     northeast SY09  SY0901     SY090106 March 19 1
2003 NA     northeast SY09  SY0901     SY5103   Feb 19   1
2004 NA     northeast SY11  SY1101     SY110100 Feb 19   1
2005 NA     northeast SY11  SY1103     SY110301 April 19 1
2006 NA     northeast SY11  SY1103     SY110301 July 19  1
2007 NA     northeast SY11  SY1103     SY110301 March 19 1
2008 NA     northeast SY11  SY1103     SY110301 May 19   1
2009 NA     NA        NA    NA         NA       Aug 19   1
2010 NA     NA        NA    NA         NA       June 18  1

#this will show which towns have non-unique regional info

In [23]:
towns_weird_no_distinct = df_joined_months %>%
  select(one_of(c(regional_columns, 'Month'))) %>%
  #worth checking with and without distinct
  group_by(q_town, Month) %>%
  summarize(n = n())%>%
  arrange(desc(n), q_town)

In [24]:
towns_weird_no_distinct

     q_town Month    n
1    C5905  Feb 18   133
2    NA     June 18  117
3    NA     April 19 109
4    NA     March 19 108
5    C5710  June 19   87
6    C1946  Oct 18    86
7    NA     July 19   85
8    NA     May 19    82
9    C5929  June 18   81
10   C5929  March 19  81
11   C5929  April 19  80
12   C5929  May 19    80
13   C5929  July 19   79
14   C5929  June 19   77
15   C1022  July 19   76
16   C5929  Aug18     75
17   C5929  July 18   75
18   C4157  Feb 19    71
19   C1022  Feb 19    70
20   C1664  April 19  70
21   C1664  Dec 18    70
22   C1664  Jan 19    70
23   C1664  March 19  70
24   C1022  Jan 19    69
25   C1022  March 19  69
26   C1664  Feb 19    69
27   C1664  May 19    69
28   C1946  March 18  69
29   C1022  Dec 18    68
30   C1564  June 19   68
⋮    ⋮      ⋮        ⋮
1942 C6045  April 18 1
1943 C6045  Dec 17   1
1944 C6045  March 18 1
1945 C6045  May 18   1
1946 C6045  Nov 17   1
1947 C6112  April 18 1
1948 C6112  Dec 17   1
1949 C6112  June 18  1
1950 C6112  March 18 1
1951 C6112  May 18   1
1952 C6112  Nov 17   1
1953 C6114  March 18 1
1954 C6117  April 18 1
1955 C6117  Dec 17   1
1956 C6117  March 18 1
1957 C6117  May 18   1
1958 C6117  Nov 17   1
1959 C6123  April 18 1
1960 C6123  Dec 17   1
1961 C6123  March 18 1
1962 C6123  May 18   1
1963 C6267  April 18 1
1964 C6267  Dec 17   1
1965 C6267  June 18  1
1966 C6267  March 18 1
1967 C6267  May 18   1
1968 C6267  Nov 17   1
1969 C6287  June 18  1
1970 C6300  Nov 17   1
1971 C6523  Nov 17   1

to understand, in how many months each item is represented at least once

In [26]:
#to understand, in how many months each

towns_representation = df_long %>%
  select(one_of(c(regional_columns, 'Month','item'))) %>%
  distinct() %>%
  group_by(q_town, item) %>%
  summarize(n = n()) %>%
  arrange(desc(n), q_town, item)

Warning message:
“Unknown columns: `Month`”

to understand, in how many towns each item is represented

In [ ]:
df_long = read_csv('joint_monthly_df_long.csv')
towns_representation = df_long %>%
  select(one_of(c(regional_columns, 'month','item'))) %>%
  distinct() %>%
  group_by(item, month) %>%
  summarize(n = n())%>%
  arrange(desc(n), item, month)